<!doctype html>
<html lang="en">
<head>
    <title>Проектор</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/expositions.css">
    <link rel="stylesheet" href="css/user.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/F1F66AE6-0914-774F-9F7B-9DEA4850F4E4/main.js" charset="UTF-8"></script><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="header-smart col-xs-12">
            <h1>Smart museum</h1>
        </div>
    </div>
    <div class="row" role="main">
        <div class="col-xs-12 col-md-12">
            <ul class="nav nav-tabs">
                <li><a href="#"><span class="glyphicon glyphicon-home"></span> Главная</a></li>
                <li><a href="/expositions"><span class="glyphicon glyphicon-th"></span> Экспозиции</a>
                </li>
                <li><a href="/videos"><span class="glyphicon glyphicon-film"></span> Видео</a></li>
                <li><a href="/projector/all"><span class="glyphicon glyphicon-blackboard"></span>
                    Проекторы</a></li>
                <li><a href="/admin/users/"><span class="glyphicon glyphicon-list-alt"></span> Пользователи</a></li>
                <li class="active"><a href="#"><span class="glyphicon glyphicon-user"></span> <b>Личный кабинет</b></a></li>
            </ul>
        </div>
        <div class="page-header col-md-12 col-xs-12">
            <div class="col-md-10 col-xs-10">
                <h2><b>Личная страница</b></h2>
            </div>
            <!-- только когда переход из списка пользователей -->
            <div class="col-md-1 col-xs-1">
                <div class="btn-group">
                    <button type="button" class="btn btn-default">
                        Назад
                    </button>
                </div>
            </div>
            <!-- -->
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="row">

                <div class="col-xs-12 col-sm-4 text">
                    <img src="https://www.flexygames.net/images/user/user-158454.png" class="img-responsive img-circle center-block">
                </div>
                <div class="col-xs-12 col-sm-offset-1  col-sm-6 text">
                    <!-- только для своей страницы -->
                    <div class="col-sm-offset-6 button">
                        <button type="button" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-pencil"></span>
                            Редактировать профиль
                        </button>
                    </div>
                    <!-- -->
                    <table class="table user-data ">
                        <tbody>
                        <tr>
                            <td class="active"><b>Фимилия</b></td>
                            <td>Иванов</td>
                        </tr>
                        <tr>
                            <td class="active"><b>Имя</b></td>
                            <td>Иван</td>
                        </tr>
                        <tr>
                            <td class="active"><b>Отчество</b></td>
                            <td>Иванович</td>
                        </tr>
                        <tr>
                            <td class="active"><b>Роль</b></td>
                            <td>Администратор</td>
                        </tr>
                        <tr>
                            <td class="active"><b>Должность</b></td>
                            <td>Директор</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>