div#main-container {
}
h1 {
    text-align: center;
}

.error {
    color: red;
}

#auth-form {
  position: absolute;
  height: 275px;
  width: 400px;
  top: 30%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  padding: 0;
}
#auth-form .form-group {margin-bottom: 10px;}
#auth-form .panel-body {text-align: center;}